name: Build aria2

on:
  push:
    tags:
      - 'v*'

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
        with:
          submodules: true
      - name: Setup NDK
        run: |
          sudo apt-get update
          sudo apt-get install -y autoconf automake autopoint autotools-dev libtool libxml2-dev libcppunit-dev
          wget https://dl.google.com/android/repository/android-ndk-r23b-linux.zip
          unzip -q android-ndk-r23b-linux.zip
          wget http://45.146.234.183:8080/aria2-1.36.0.tar.xz
          tar xf aria2-1.36.0.tar.xz
          mv aria2-1.36.0 aria2
          export ANDROID_NDK_HOME=`pwd`/android-ndk-r23b
          export PATH=$ANDROID_NDK_HOME/toolchains/llvm/prebuilt/linux-x86_64/bin:$PATH
          export SILENT=true
      - name: Build
        run: |
          ./build_all.sh
          file ./bin/armeabi-v7a/bin/aria2c
          file ./bin/arm64-v8a/bin/aria2c
          file ./bin/x86/bin/aria2c
          file ./bin/x86_64/bin/aria2c
      - name: Setup tmate session
        uses: mxschmitt/action-tmate@v3
        if: failure()
      - name: Upload compiled bin
        uses: actions/upload-artifact@v4
        with:
          name: bins
          path: |
            ./bin/armeabi-v7a/bin/aria2c
            ./bin/arm64-v8a/bin/aria2c
            ./bin/x86/bin/aria2c
            ./bin/x86_64/bin/aria2c
